.card-destiny {
  background-image: url('/css/img/background-card.gif');
  background-size: cover;
}

.card-body-destiny {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 20px;
}